*.py[cod]
*.db

# Packages
*.egg
*.egg-info
build
dist

# Sphinx
doc/_build
htmldocs

# tox
.tox

# nose - *not* supported for testing at the moment
.coverage

# misc
local
unittests/pyslet
samples/pyslet
pep8-count.txt
flake8-count.txt

